.line_projects {
    background-color: #F6D900;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	height:192px;
	width:100%;
    display:block;
    background-position: 0 0;
}
.line_projects span {display:block;}

.hovershadow {width:100%; height:100%;}
:hover.hovershadow {background-image: linear-gradient(to top,  rgba(0,0,0,0.3),  rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.3) );}



@media (max-width: 1400px) {
    .photo__content {bottom: 350px;}
    .projects h2 {font-size:30px;}
}

@media (min-width: 1250px) {
    .photo__heading {padding-left: 101px;}
}

@media (max-width: 1250px) {
    .photo__content {bottom:195px;}
    .photo__container {width:870px;}
    .photo__heading h1 {font-size:30px; margin-bottom:10px;}
    .photo__heading p {font-size:18px;}
    .photo {min-width:850px;}
}

@media (max-width: 870px) {
    .photo__container {width:100%; padding-right:10px; padding-left:10px;}
    .photo {min-width:630px;}
    .photo__heading h1 {font-size:27px;}
}

@media (max-width: 710px) {
	.photo {min-width:inherit;}
    .photo__heading {padding-left: 31px;}
    .photo__heading h1 {font-size: 19px; margin-bottom:6px; padding-right: 15px;}
    .photo__heading p {font-size: 15px; line-height: 137%;}
    .photo__content {bottom:112px;}
    .photo__presentation {background-position: center -40px; padding-top: 53%;}
}

@media (max-width: 465px) {
	.photo__presentation {background-position: center 0; }
	.photo__content {bottom:0px;}
    .photo {min-width:320px;}
	.photo__container {width:auto;}
	.photo__container p {font-size:15px; padding:0; margin:0;}
    .photo__container h1 {line-height: 130% !important; font-size:19px; padding:0 0 8px 0; margin:0;}
	.photo__content {bottom:151px;}
    .photo__heading {padding-left:10px; padding-right: 10px;}
    .photo__heading.ForMobile .phone {font-size:14px;}
    .photo__container {padding-left:20px; padding-right:20px}
}
