Options +FollowSymLinks

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    RewriteCond %{HTTP:X-SSL} !^yes$
    RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_env.c>
    SetEnv APP_DEBUG "false"
    SetEnv APP_NAME "Twill"
    SetEnv APP_ENV "production"
    SetEnv APP_KEY "base64:WH3DrEblE9TGDGOsItN2TcAOKsxT2PYVu5R95Hh/dss="
    SetEnv APP_URL "union4.ru"
    SetEnv ADMIN_APP_URL ""
    SetEnv ADMIN_APP_PATH "admin"
    
    SetEnv DB_CONNECTION "mysql"
    SetEnv DB_HOST "mysql-srv59651.hts.ru"
    SetEnv DB_PORT "3306"
    SetEnv DB_DATABASE "srv59651_union4"
    SetEnv DB_USERNAME "srv59651_union"
    SetEnv DB_PASSWORD "DB0g42oksGOkTS7"
</IfModule>
